# Example of what your .env file should look like

# ubisoft info
UBI_LOGIN = ""
UBI_PASSWORD = ""
USER_AGENT = ""
CLIENT_ID = ""
CLIENT_SECRET = ""

# Database file name (e.g. "database.db")
DATABASE = ""

# Discord webhook url
WEBHOOKS_URL = ""

# Dropbox service account credentials
DROPBOX_KEY = ""
DROPBOX_SECRET = ""
DROPBOX_TOKEN = ""
DROPBOX_REFRESH_TOKEN = ""

# Nadeo stuff, will be set automatically
NADEO_ACCESS_TOKEN=''
NADEO_REFRESH_TOKEN=''
NADEO_LIVESERVICES_ACCESS_TOKEN=''
NADEO_LIVESERVICES_REFRESH_TOKEN=''
OAUTH_TOKEN=''
OAUTH_EXPIRATION=''
OAUTH_EXPIRES=''
