# Example of what your .env file should look like

# Ubisoft info
UBI_LOGIN = ""      # Your service login (trackmania.com/player/service-account)
UBI_PASSWORD = ""   # Your service password (trackmania.com/player/service-account)
USER_AGENT = ""     # Your app name and your contacts
CLIENT_ID = ""      # Application Identifier (api.trackmania.com)
CLIENT_SECRET = ""  # Application Secret (api.trackmania.com)

# Your Account ID from trackmania.io
USER_ID = ""

# Discord webhook url (Edit channel -> Integrations -> Webhooks)
WEBHOOKS_URL = ""

# Maps and records update time (format HH:MM)
UPDATER_TIME = "04:00"

# Dropbox service account credentials (Optional)
DROPBOX_SAVE = false
DROPBOX_KEY = ""
DROPBOX_SECRET = ""
DROPBOX_TOKEN = ""
DROPBOX_REFRESH_TOKEN = ""

# Nadeo stuff, will be set automatically
NADEO_ACCESS_TOKEN=''
NADEO_REFRESH_TOKEN=''
NADEO_LIVESERVICES_ACCESS_TOKEN=''
NADEO_LIVESERVICES_REFRESH_TOKEN=''
OAUTH_TOKEN=''
OAUTH_EXPIRATION=''
OAUTH_EXPIRES=''
